<form class="petsForm petsDescriptionForm" onsubmit="return false">
    <fieldset class="formSection">
        <%if (phoneEn == '1'){%>
            <div class="formItem">
                <input id="petsDescriptionForm__phone" class="formItem__input petsForm_BrownDecor" type="text" autocomplete="off" value="<%=phone%>">
                <label class="formItem__label petsForm_BrownDecor" for="petsDescriptionForm__phone">Телефон:</label>
            </div>
            <%}%>
                <%if(emailEn == '1'){%>
                    <div class="formItem">
                        <input id="petsDescriptionForm__email" class="formItem__input petsForm_BrownDecor" type="text" autocomplete="off" value="<%=email%>">
                        <label class="formItem__label petsForm_BrownDecor" for="petsDescriptionForm__email">Почта:</label>
                    </div>
                    <%}%>
                        <%if(city != ''){%>
                            <div class="formItem">
                                <input id="petsDescriptionForm__city" class="formItem__input petsForm_BrownDecor" type="text" autocomplete="off" value="<%=city%>">
                                <label class="formItem__label petsForm_BrownDecor" for="petsDescriptionForm__city">Город:</label>
                            </div>
                            <%}%>


    </fieldset>
</form>