<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width,maximum-scale=.95" />
    <meta content='yes' name='apple-mobile-web-app-capable' />
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="frontEnd/app/css/pets.css">
</head>

<title> Любимцы </title>

<body>
    <div class="container">
        <div class="row">
            <div id="Pets" class="petsLayout"></div>
        </div>
    </div>
    <script data-main="frontEnd/app/js/require_main.js" src="frontEnd/libs/require.js "></script>
</body>

</html>