.userPetsEmpty {
    text-align: center;
    color: #524C40;
    padding-top: 100px;
}

.userPetsEmpty p {
    display: inline-block;
    font-size: 1.4em;
}

.addPets_btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #261E12;
    opacity: 0.8;
    background: linear-gradient(to top, #050502, #261E12 25%, #383123 50%, #413A2F 70%, #524C40 100%);
    cursor: pointer;
    transition: 0.15s ease;
}

.addPets_btn i {
    line-height: 1.5em;
    color: #261E12;
    text-shadow: 0px 0px 0px #F0EEC4;
    font-size: 1.2em;
}

.addPets_btn:hover {
    color: #B6C436;
    box-shadow: 0px 0px 3px 2px #B6C436;
    opacity: 1;
}

.addPets_btn:hover > i {
    color: #B6C436;
    text-shadow: 0px 0px 5px #B6C436;
}

.addPets_btn:active {
    transform: scale(0.95);
}

.petsImageWrapper {
    width: 100%;
    text-align: center;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    -webkit-column-gap: 0px;
    column-count: 4;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.petsWrapper {
    height: 16em;
    border-radius: 5px;
    position: relative;
    background: linear-gradient(to top, #050502, #261E12 25%, #383123 50%, #413A2F 70%, #524C40 100%);
    box-shadow: 0px 1px 1px 1px #524c40;
    color: #F0EEC4;
    margin: 0.35em;
    padding: .15em;
    cursor: pointer;
    transition: all .35s ease;
}

.petsWrapper:hover {
    box-shadow: 0px 2px 2px 2px #524c40;
}

.petsWrapper:active {
    box-shadow: 0px 1px 1px 1px #524c40;
}

.petsName {
    font-size: 1em;
    overflow: hidden;
    padding: .5em .2em .5em .2em;
    text-overflow: ellipsis;
}

.thumb2 {
    user-select: none;
    float: none;
    display: inline-block;
    padding: 0;
    vertical-align: top;
}

.userPetsCollection {
    text-align: center;
    float: none;
    padding-bottom: 4em;
}

.petsImgWrapper {
    width: 100%;
    height: 10em;
    text-align: center;
    position: relative;
}

.petsImgWrapper img {
    max-height: 100%;
    max-width: 100%;
    box-shadow: 0px 2px 2px 0px #100f09;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.petsCondition {
    width: 100%;
    text-align: center;
    font-size: .95em;
    position: absolute;
    bottom: 5px;
}

.petsLikes {
    width: 45%;
    color: #c43636;
    text-shadow: 0px 0px 10px #FF0000;
    box-shadow: 0px 0px 3px 1px #c43636;
    display: inline-block;
    border-radius: 0.2em;
    margin: .2em;
}

.petsSale {
    width: 40%;
    display: inline-block;
    color: #383123;
    border-radius: 0.2em;
    color: #B6C436;
    text-shadow: 0px 0px 10px #B6C436;
    box-shadow: 0px 0px 3px 1px #B6C436;
    margin: .2em;
}

::-webkit-input-placeholder {
    color: #F0EEC4;
    opacity: 0.65;
}


/*---------Image----------------*/

.imageAddlabel {
    background: linear-gradient(to top, #050502, #261E12 25%, #383123 50%, #413A2F 70%, #524C40 100%);
    box-shadow: 0px 1px 1px 0px #524c40;
    padding: 5px;
}

.imageAddlabel:before {
    content: "Добавить фотографии любимца";
    text-align: center;
    margin-bottom: 2em;
}

.thumb {
    user-select: none;
    float: none;
    padding: 0px;
    display: inline-block;
}

.imgItemWrapper {
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 0px 2px 2px 2px #31291c;
    margin: 0.25em;
    z-index: 1;
}

.imgItemWrapper:hover .overlay {
    opacity: 1;
}

.imgItemWrapper:hover img {
    transform: scale(1.1);
    border-radius: 5px;
}

.imgItemWrapper img {
    width: 100%;
    transition: all 0.35s ease;
    border-radius: 5px;
    border: 1px solid (0, 0, 0, 0.2);
}

.overlay .closeIconWrapper {
    font-size: 1.8em;
}

.imgDelete {
    position: absolute;
    display: inline-block;
    right: 0.45em;
    top: 0.2em;
}

.imgDelete i {
    text-shadow: 0px 0px 3px #ffffff;
    color: #000000;
}

.starIconWrapper {
    position: absolute;
    left: 0.5em;
    top: 0.25em;
    display: inline-block;
    font-size: 1.6em;
    line-height: 1.35em;
}

.icon-star {
    max-width: 100%;
    text-shadow: 0px 0px 3px #ffffff;
    color: #000000;
}

.icon-star:hover {
    color: #e0d607;
    text-shadow: 0px 0px 5px #e0d607;
    cursor: pointer;
}

.flaming {
    color: #e0d607;
    text-shadow: 0px 0px 5px #261E12;
}

.upperStar {
    display: none;
}

.showStar {
    display: inline-block;
}

.addFormButton,
.addNewPet,
.userProfileFormButton {
    background: linear-gradient(to top, #050502, #261E12 25%, #383123 50%, #413A2F 70%, #524C40 100%);
    box-shadow: 0px 1px 1px 0px #524c40;
    padding: 5px;
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
}

.profFormBtnWrapper {
    height: 5em;
}

.petDeleteBtn {
    left: 0.5em;
    background: linear-gradient(to top, #050502, #261E12 25%, #383123 50%, #413A2F 70%, #524C40 100%);
    box-shadow: 0px 1px 1px 0px #524c40;
    padding: 5px;
    position: absolute;
    bottom: 0.5em;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: all .35s ease;
}