<!-- 
<div class="cssload-inner cssload-one"></div>
<div class="cssload-inner cssload-two"></div>
<div class="cssload-inner cssload-three"></div>
-->



<div class="pawLoadIndicator">
    <div class="leftPaw"> <i class="icon-paw" aria-hidden="true"></i></div>
    <div class="leftPaw"> <i class="icon-paw" aria-hidden="true"></i></div>
    <div class="loadingText">Загрузка...</div>
    <div class="rightPaw"><i class="icon-paw" aria-hidden="true"></i></div>
    <div class="rightPaw"><i class="icon-paw" aria-hidden="true"></i></div>
</div>