.petDescriptionImages {
    text-align: center;
}

.petDescriptionImages .petsWrapper {
    height: 12em;
}

.petDescriptionImages .petsWrapper .petsCondition {
    font-size: 1.1em;
}

#mainRegion .petsDescriptionForm {
    padding: 0;
}

.petsDescriptionForm input {
    -webkit-user-select: none;
}