.contacts {
    position: absolute;
    top: 5px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 0.8em;
}

.contacts p {
    cursor: default;
}

.contacts nav {
    padding-top: 1em;
}

.helpSection {
    padding: 4em;
    width: 100%;
    color: #383123;
    font-size: 1.5em;
}

.helpSectionItem__icon {
    width: 2em;
    border-radius: 0.2em;
    border: 1px solid #383123;
    text-align: center;
    display: inline-block;
    float: left;
    clear: both;
}

.helpSectionItem__icon i {}

.helpSectionItem__descr {
    margin: 1.6em;
    margin-left: 3.5em;
}

@media screen and (max-height: 650px),
(max-width:768px) {
    .contacts nav {
        padding-top: .4em;
    }
    .helpSection {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 468px) {
    .helpSection {
        font-size: 1.1em;
    }
}