    .horizontalPanel {
        background: linear-gradient(to top, #050502, #261E12 25%, #383123 50%, #413A2F 70%, #524C40 100%);
        height: 100px;
        width: 100%;
        text-align: center;
        font-size: 1.2em;
        opacity: 0.98;
        position: relative;
        box-shadow: 0px 1px 1px 1px #524c40;
        z-index: 1;
    }
    
    .mainMenuButton_forHorizontalPanel {
        position: absolute;
        font-size: 1em;
        padding: 1.2em;
        border: none;
    }
    
    .mainMenuButton_forHorizontalPanel:hover {
        box-shadow: none;
    }
    
    #userExit {
        right: 0px;
        z-index: 10;
    }
    
    #hamburger {
        left: 0px;
        z-index: 11;
    }
    /*************Central panel*******************/
    
    .horizontalPanel_central {
        height: 170px;
        border: 1px solid #524C40;
        border-radius: 0.5em;
        opacity: 1;
    }
    
    .mainMenuButton_forMainMenuCentralPanel {
        line-height: 1.5em;
        font-size: 1.6em;
        margin-top: 15px;
        border: 1px solid #413A2F;
    }
    /***************Menu indicators*****************/
    
    .dopMenu {
        width: 100%;
        margin-top: 25px;
        cursor: default;
        color: #383123;
    }
    
    .dopMenu li {
        padding: .1em .2em;
        margin: .25em;
        border-radius: 0.2em;
        border: 1px solid #383123;
        display: inline-block;
        width: 12.5%;
    }
    
    .dopMenu li:nth-child(4) {
        width: 25%;
        color: #c43636;
        text-shadow: 0px 0px 10px #FF0000;
        box-shadow: 0px 0px 3px 1px #c43636;
    }
    
    li:nth-child(1) {
        width: 25%;
    }
    
    .dopMenuActiv {
        color: #B6C436;
        text-shadow: 0px 0px 10px #B6C436;
        box-shadow: 0px 0px 3px 1px #B6C436;
    }
    
    #dopMenuOff {
        color: #383123;
        border: 1px solid #383123;
        text-shadow: none;
        box-shadow: none;
    }
    
    @media screen and (max-height: 650px),
    (max-width:768px) {
        .horizontalPanel_central {
            height: 100px;
        }
        .mainMenuButton_forMainMenuCentralPanel {
            line-height: 1em;
            font-size: 1em;
            margin-top: 10px;
        }
        .dopMenu {
            margin-top: 10px;
            font-size: 0.7em;
        }
        .mainMenuButton_forHorizontalPanel {
            font-size: .65em;
        }
    }