.petsLayout {
    width: 100%;
    min-width: 425px;
    min-height: 100vh;
    color: #F0EEC4;
    user-select: none;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.layoutRegionWrapper {
    background: #F0EEC4;
    height: 100%;
}

.padding_0px_5px {
    padding: 0 5px;
}

@media screen and (max-width: 768px) {
    .padding_0px_5px {
        padding: 0 0;
    }
}