    #mainRegion {
        width: 100%;
        min-height: calc(100vh - 200px);
        position: relative;
    }
    
    .petsMainSection {
        width: 100%;
        min-height: calc(100vh - 200px);
        position: relative;
    }
    
    img[src=""] {
        display: none;
    }
    
    .petsMainSection img {
        height: auto;
        width: auto;
        max-width: 97%;
        max-height: 94%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0px;
        bottom: 0;
        margin: auto;
        border: 1px solid #383123;
        box-shadow: 0px 2px 2px 0px #100f09;
        border-radius: 5px;
        cursor: pointer;
        animation-name: imgShow;
        animation-duration: 0.35s;
    }
    
    @keyframes imgShow {
        from {
            opacity: .5;
            transform: scale(1);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
    
    .likeDislikeButtonWrapper {
        width: 100%;
        height: 80px;
        position: absolute;
        bottom: 5em;
        text-align: center;
    }
    
    .likeDislikeButtonWrapper .fa-check-Wrapper,
    .likeDislikeButtonWrapper .fa-times-Wrapper {
        border-radius: 50%;
        width: 7em;
        height: 7em;
        display: inline-block;
        opacity: 0.92;
        border: 1px solid #100f09;
        background: linear-gradient(to top, #050502, #261E12 25%, #383123 50%, #413A2F 70%, #524C40 100%);
        cursor: pointer;
        transition: all 0.3s ease;
        text-align: center;
        margin: 1em 3em;
        box-shadow: 0px 1px 1px 0px #524c40;
    }
    
    .likeDislikeButtonWrapper .fa {
        font-size: 4em;
        color: #261E12;
        line-height: 1.65em;
        text-shadow: 0px 0px 0px #F0EEC4;
    }
    
    .fa-check-Wrapper:hover {
        opacity: 1;
        box-shadow: 0px 0px 5px 4px #B6C436;
        transform: scale(1.05);
    }
    
    .likeDislikeButtonWrapper .fa-check {
        color: #B6C436;
        text-shadow: 0px 0px 10px #B6C436;
    }
    
    .fa-check-Wrapper:active {
        transform: scale(1);
    }
    
    .fa-times-Wrapper:hover {
        opacity: 1;
        transform: scale(1.05);
        box-shadow: 0px 0px 5px 4px #c43636;
    }
    
    .likeDislikeButtonWrapper .fa-times {
        color: #c43636;
        text-shadow: 0px 0px 10px #c43636;
    }
    
    .fa-times-Wrapper:active {
        transform: scale(1);
        box-shadow: 0px 0px 5px 4px #c43636;
    }
    
    @media screen and (max-width: 768px) {
        .likeDislikeButtonWrapper .fa-check-Wrapper,
        .likeDislikeButtonWrapper .fa-times-Wrapper {
            width: 5.5em;
            height: 5.5em;
        }
        .likeDislikeButtonWrapper .fa {
            font-size: 3.2em;
        }
        .likeDislikeButtonWrapper {
            bottom: 2.5em;
        }
        .fa-check-Wrapper:hover {
            transform: scale(1);
            opacity: 0.92;
            box-shadow: 0px 1px 1px 0px #524c40;
        }
        .fa-times-Wrapper:hover {
            transform: scale(1);
            opacity: 0.92;
            box-shadow: 0px 1px 1px 0px #524c40;
        }
    }
    
    @media screen and (max-width: 480px) {
        .likeDislikeButtonWrapper .fa-check-Wrapper,
        .likeDislikeButtonWrapper .fa-times-Wrapper {
            width: 4.5em;
            height: 4.5em;
        }
        .likeDislikeButtonWrapper .fa {
            font-size: 2.6em;
        }
        .likeDislikeButtonWrapper {
            bottom: 2.3em;
        }
    }
    
    @media screen and (orientation:landscape) and (max-height: 650px) {
        .horizontalPanel {
            display: none;
        }
        .petsMainSection {
            min-height: 100vh;
        }
        #mainRegion {
            min-height: 100vh;
        }
        .likeDislikeButtonWrapper .fa-check-Wrapper,
        .likeDislikeButtonWrapper .fa-times-Wrapper {
            width: 5em;
            height: 5em;
        }
        .likeDislikeButtonWrapper .fa {
            font-size: 3em;
        }
        .likeDislikeButtonWrapper {
            bottom: 2.5em;
        }
    }