#sideBarRegion {
    background: linear-gradient(to top, #383123, #413A2F 20%, #413A2F 80%, #383123 100%);
    opacity: 0.98;
    min-height: calc(100vh - 200px);
    text-align: center;
    position: relative;
}

#sideBarRegion span {
    color: #B6C436;
    text-shadow: 0px 0px 2px #B6C436;
}

#sideBarRegion nav {
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.menuSideBar {
    background: linear-gradient(to top, #050502, #261E12 25%, #383123 50%, #413A2F 70%, #524C40 100%);
    height: 100px;
    width: 100%;
    text-align: center;
    font-size: 1.15em;
    opacity: 0.98;
    position: relative;
    box-shadow: 0px 1px 1px 1px #524c40;
}

#sideBarFooter {
    background: linear-gradient(to top, #050502, #261E12 25%, #383123 50%, #413A2F 70%, #454139 100%);
    box-shadow: 0px -1px 1px 1px #524c40;
}

.sideBarHeader__userName {
    line-height: 2.5em;
    cursor: default;
    font-size: 1.15em;
}

.dopMenu_sideBarHeader {
    margin-top: 0;
}