/*********************MENU***************************/

.mainMenuButton,
.mainMenuButton:visited {
    font-size: 1.1em;
    display: inline-block;
    padding: 5px 5px;
    margin: 10px 4px 0 4px;
    border: 1px solid #383123;
    border-radius: 0.2em;
    cursor: pointer;
    transition: 0.15s ease;
    transition-property: box-shadow, text-shadow, color;
    color: #F0EEC4;
}

.mainMenuButton:hover {
    color: #B6C436;
    box-shadow: 0px 2px 3px 2px #B6C436;
    text-shadow: 0px 0px 1px #B6C436;
    -moz-backface-visibility: hidden;
    text-decoration: none;
}

.mainMenuButton:active {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    box-shadow: 0px 2px 3px 2px #B6C436;
    text-decoration: none;
    color: #B6C436;
}

.mainMenuButton:focus {
    text-decoration: none;
    color: #B6C436;
}

.activeBtn {
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0px 2px 3px 2px #B6C436;
    text-shadow: 0px 0px 1px #B6C436;
    color: #B6C436;
}


/*********************POPUP***************************/

#popUpRegion {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 25vh;
    margin: auto;
    width: 50%;
    z-index: -1;
}

.popUpWindow {
    background: #fbf9d9;
    border: 1px solid #241e13;
    border-radius: 0.5em;
    width: 100%;
    box-shadow: -1px 1px 5px 0px #524c40;
    cursor: default;
    position: absolute;
    animation-name: popUpShow;
    animation-duration: 0.5s;
}

@keyframes popUpShow {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.popUpHeader {
    background: linear-gradient(to top, #050502, #261E12 25%, #383123 50%, #413A2F 70%, #524C40 100%);
    box-shadow: 0px 1px 1px 1px #524C40;
    color: #F0EEC4;
    height: 50px;
    font-size: 1.3em;
    line-height: 2em;
    padding: 0px 20px;
}

.popUpTitle {
    display: inline-block;
}

.popUpHeader .closeIconWrapper {
    position: absolute;
    right: -.1em;
    top: 0em;
    font-size: 1.5em;
}

.notificationBody {
    color: #261E12;
    padding: 5%;
    padding-bottom: 10%;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.3em;
    text-align: justify;
}

.icon-cancel {
    max-width: 100%;
    text-shadow: 0px 0px 0px #F0EEC4;
    color: #261E12;
}

.icon-cancel:hover {
    color: #c43636;
    text-shadow: 0px 0px 5px #c43636;
    cursor: pointer;
}

.closeIconWrapper:active {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
}

.formFilds {
    padding-bottom: 20px;
    position: relative;
}

.formFilds label {
    position: absolute;
    left: 40px;
    line-height: 1.5em;
}

.formFilds input {
    background: #F0EEC4;
    margin-left: 140px;
    border-radius: 0.2em;
}

.remPassword {
    text-align: center;
    padding-top: 8px;
    font-size: 0.8em;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.15s ease;
}

.remPassword:hover {
    text-shadow: 0px 0px 1px #B6C436;
    -moz-backface-visibility: hidden;
}

.remPassword:active {
    transform: scale(0.98);
}

.reg_btn {
    position: absolute;
    background: linear-gradient(to top, #050502, #261E12 25%, #383123 50%, #413A2F 70%, #524C40 100%);
    margin: 0;
    right: 10px;
    bottom: 5px;
    color: #F0EEC4;
    font-size: .85em;
    line-height: 1.5em
}

.errorNot {
    background: linear-gradient(to top, #b92929, #8a2828 25%, #791b1b 50%, #771313 70%, #5a0e0e 100%);
    box-shadow: 0px 1px 1px 1px #5a0e0e;
}

.reg_btn.errorNot:hover {
    box-shadow: 0px 2px 3px 2px #b92929;
    text-shadow: 0px 0px 1px #b92929;
    color: #ff5c5c;
}

.errorNot i {
    color: #4e0808;
}

.okNot {
    background: linear-gradient(to top, #a0ad2e, #9aa539 25%, #8a9436 50%, #828c27 70%, #676f1d 100%);
    box-shadow: 0px 1px 1px 1px #778405;
}

.okNot i {
    color: #4d540c;
}

#waitIndRegion {
    position: absolute;
    top: -15%;
    left: 0px;
    right: 0px;
    bottom: 0;
    margin: auto;
    width: 240px;
    height: 200px;
    z-index: -1;
}

.pawLoadIndicator {
    font-size: 1.7em;
    border: 1px solid #261E12;
    box-shadow: 0px 0px 5px #261E12;
    background: linear-gradient(to top, #050502, #261E12 25%, #383123 50%, #413A2F 70%, #524C40 100%);
    border-radius: 0.5em;
}

.pawLoadIndicator i:before {
    text-shadow: 0px 0px 1px black, 0px 0px 1px black, 1px 1px black;
    color: #B6C436;
    transform: rotate(90deg);
}

.loadingText {
    text-align: center;
    width: 100%;
    opacity: .85;
    font-size: .75em;
    padding: .3em;
    animation: colorChange 4s infinite linear;
}

@keyframes colorChange {
    from {
        color: #F0EEC4;
        text-shadow: none;
    }
    50% {
        color: #B6C436;
        text-shadow: 0px 0px 2px #B6C436;
    }
    to {
        color: #F0EEC4;
        text-shadow: none;
    }
}

.leftPaw {
    animation: stepLeft 6s infinite linear;
    display: inline-block;
    padding-right: .4em;
    padding-left: 0.2em;
}

.rightPaw {
    animation: stepRight 6s infinite linear;
    display: inline-block;
    padding-right: .4em;
    padding-left: 0.2em;
}

@keyframes stepLeft {
    from {
        opacity: 0;
        transform: translateX(0);
    }
    15% {
        opacity: 1;
        transform: translateX(0);
    }
    20% {
        opacity: 0;
        transform: translateX(0);
    }
    22.5% {
        opacity: 0;
        transform: translateX(50px);
    }
    25% {
        opacity: 1;
        transform: translateX(50px);
    }
    40% {
        opacity: 1;
        transform: translateX(50px);
    }
    45% {
        opacity: 0;
        transform: translateX(50px);
    }
    47.5% {
        opacity: 0;
        transform: translateX(100px);
    }
    50% {
        opacity: 1;
        transform: translateX(100px);
    }
    65% {
        opacity: 1;
        transform: translateX(100px);
    }
    70% {
        opacity: 0;
        transform: translateX(100px);
    }
    72.5% {
        opacity: 0;
        transform: translateX(130px);
    }
    75% {
        opacity: 1;
        transform: translateX(130px);
    }
    90% {
        opacity: 1;
        transform: translateX(130px);
    }
    to {
        opacity: 0;
        transform: translateX(130px);
    }
}

@keyframes stepRight {
    from {
        opacity: 0;
        transform: translateX(0);
    }
    2.5% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        opacity: 1;
        transform: translateX(0);
    }
    10% {
        opacity: 0;
        transform: translateX(0);
    }
    12.5% {
        opacity: 0;
        transform: translateX(25px);
    }
    15% {
        opacity: 1;
        transform: translateX(25px);
    }
    30% {
        opacity: 1;
        transform: translateX(25px);
    }
    35% {
        opacity: 0;
        transform: translateX(25px);
    }
    37.5% {
        opacity: 0;
        transform: translateX(75px);
    }
    40% {
        opacity: 1;
        transform: translateX(75px);
    }
    55% {
        opacity: 1;
        transform: translateX(75px);
    }
    60% {
        opacity: 0;
        transform: translateX(75px);
    }
    62.5% {
        opacity: 0;
        transform: translateX(125px);
    }
    65% {
        opacity: 1;
        transform: translateX(125px);
    }
    to {
        opacity: 0;
        transform: translateX(125px);
    }
}

@media screen and (max-width: 1170px) {
    #popUpRegion {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    #popUpRegion {
        width: 75%;
        bottom: 75vh;
        top: inherit;
    }
    .formFilds label {
        left: 10px;
    }
    .formFilds input {
        margin-left: 110px;
    }
}

@media screen and (max-width: 600px) {
    #popUpRegion {
        width: 95%;
    }
    .remPassword {
        padding-left: 30%;
    }
}

@media screen and (max-width: 468px) {
    .notificationBody {
        padding-left: 0;
        padding-bottom: 12%;
    }
    .remPassword {
        padding-left: 30%;
    }
}