<nav>
    <% if(userValidate == "true"){ %>
        <div><a href="#myPets" class="mainMenuButton" id="myPets_btn">Мои любимцы</a></div>
        <% }else{ %>
            <a class="mainMenuButton" id="reg_btn">Зарегистрироваться</a>
            <span> / </span>
            <a class="mainMenuButton" id="aut_btn">Войти</a>
            <% } %>
                <div><a href="#petsSearch" class="mainMenuButton" id="findPets_btn">Поиск любимцев</a></div>
                <% if(userValidate == "true"){ %>
                    <div> <a href="#myProfile" class="mainMenuButton" id="myProfile_btn">Настройки профиля</a></div>
                    <%}%>
</nav>