<% if(name) {%>
    <div class="sideBarHeader__userName">
        <%= name %>
    </div>
    <%}else{%>
        <div class="sideBarHeader__userName">
            <%= email.split("@")[0] %>
        </div>
        <%}%>
            <ul class="dopMenu dopMenu_sideBarHeader">
                <li class="dopMenuActiv">
                    <%= pets %> <i class="icon-paw"></i>
                </li>
            </ul>