 #mainRegion .petsForm {
     padding: 80px 0px;
 }
 
 .petsForm {
     text-align: center;
 }
 
 .petsForm .mainMenuButton {
     margin-top: 1em;
     margin-bottom: 1em;
 }
 
 .petsForm_BrownDecor {
     border: 1px solid #413A2F;
     border-radius: 5px;
     background: linear-gradient(to top, #050502, #261E12 25%, #383123 50%, #413A2F 70%, #524C40 100%);
     box-shadow: 0px 1px 1px 1px #524c40;
 }
 
 .petsForm .formSection {
     margin: .3em;
 }
 
 .formSection {
     font-size: 1.1em;
     line-height: 1.5em;
     display: inline-block;
     position: relative;
 }
 
 .formSection__name {
     width: 100%;
     text-align: center;
     position: relative;
     top: .55em;
     margin-bottom: 0.25em;
 }
 
 .formItem {
     display: inline-block;
     margin: .25em;
     padding-left: .25em;
     padding-right: .25em;
 }
 
 .formItem__label {
     margin: .25em;
     display: inline-block;
     width: 8em;
     float: left;
     transition: 0.15s ease;
     transition-property: box-shadow, text-shadow, color;
 }
 
 .formItem__input {
     vertical-align: text-top;
     text-align: center;
     padding: 0;
     margin-top: 1px;
 }
 
 .formItem:hover .formItem__label,
 .formItem__input:focus + .formItem__label {
     box-shadow: 0px 2px 3px 2px #B6C436;
     color: #B6C436;
 }
 
 .formItem_formItemCon .formItem__input:checked + .formItem__label {
     box-shadow: 0px 2px 3px 2px #B6C436;
     color: #B6C436;
 }
 
 .formItem_formItemCon {
     margin-bottom: .35em;
     padding: 0 2em;
 }
 
 .formItem_fullWidth {
     width: 100%;
 }
 
 .formItem_formItemCon .formItem__label {
     cursor: pointer;
     float: none;
     vertical-align: top;
 }
 
 .formItem_formItemCon:hover .formItem__label {
     box-shadow: 0px 1px 1px 1px #524c40;
     color: #F0EEC4;
 }
 
 .formItem_formItemCon .formItem__label:hover {
     box-shadow: 0px 2px 3px 2px #B6C436;
     color: #B6C436;
 }
 
 .formItem_formItemCon:hover .formItem__label:active {
     transform: scale(.98);
 }
 
 .petsDescriptionForm .formItem__input {
     cursor: default;
 }
 
 formItem_getDataFromFile {
     position: relative;
 }
 
 .getDataFromFileListParent {
     width: 100%;
     position: relative;
     padding-left: .25em;
 }
 
 .getDataFromFileList {
     width: 100%;
     height: 300px;
     position: absolute;
     z-index: 2;
     background: linear-gradient(to top, #050502, #261E12 25%, #383123 50%, #413A2F 70%, #524C40 100%);
     border: 1px solid #524C40;
     border-radius: 5px;
     overflow: scroll;
     overflow-x: hidden;
     font-size: 1.1em;
     text-align: left;
 }
 
 .getDataFromFileList__item {
     text-align: center;
     margin: .25em;
     padding: .3em;
     cursor: pointer;
     position: relative;
     transition: all .25s ease;
 }
 
 .getDataFromFileList__item:hover {
     background: rgba(228, 248, 45, .35);
     border-radius: 5px/100%;
     box-shadow: 0px 0px 5px 4px rgba(182, 196, 54, 0.9);
 }
 
 .formItem__textarea {
     width: 95%;
     height: 9em;
     text-align: left;
     resize: none;
     wrap: soft;
     margin: 15px 0;
 }
 
 .formSection_textarea {
     width: 98%;
 }
 
 @media screen and (max-width: 1170px) {
     .formItem:hover .formItem__label,
     .formItem__input:focus + .formItem__label {
         box-shadow: 0px 1px 1px 1px #524c40;
         color: #F0EEC4;
     }
 }
 
 @media screen and (max-height: 650px),
 (max-width:768px) {
     #mainRegion .petsForm {
         padding: 0px 0px;
     }
 }