<div class="contacts">
    <nav class="hidden-md hidden-lg hidden-xl">
        <% if(userValidate == "true"){ %>
            <div id="myPets_btn" class="mainMenuButton">Мои любимцы</div>
            <div id="findPets_btn" class="mainMenuButton">Поиск любимцев</div>
            <div id="myProfile_btn" class="mainMenuButton"> Настройки</div>
            <% }else{%>
                <div id="rg_btn" class="mainMenuButton">Зарегистрироваться</div>
                <span> / </span>
                <div id="at_btn" class="mainMenuButton">Войти</div>
                <div id="findPets_btn" class="mainMenuButton">Поиск любимцев</div>
                <% } %>

                    <div class="mainMenuButton" id="about_btn"> О сайте</div>
    </nav>
    <div class="hidden-xs hidden-sm">
        <div class="mainMenuButton" id="about_btn"> О сайте</div>
        <br>
        <br>
        <p> Любимцы, 2016 </p>
    </div>
</div>